body {
    background-color: #212121;
}

.modal-content{

    font-family: Sinkin-Sans-Light;
    color: whitesmoke;
    line-height: 30px;
    font-size: 20px;

    .square {
        width: 30px;
        height: 30px;
    }

    .good.square{
        background-color: #3ac569;
    }

    .bad.square{
        background-color: #E53A40;
    }

    .pending.square{
        background-color: #F6B352;
    }
}



