.gg-score-row{
  line-height: 7em;
  margin-bottom: 15px;
}
.gg-score-day{
  font-size: 30px;
}
.gg-vs{
  font-size: 40px;
  font-weight: 500;
}

.orange-circle-button {
  box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
  border: .5em solid #fcbe32;
  font-size: 1em;
  line-height: 1.1em;
  color: #ffffff;
  background-color: #fcbe32;
  margin: auto;
  border-radius: 50%;
  height: 9em;
  width: 9em;
  position: relative;

  &.good{
    background-color: #75D701;
    border: .5em solid #75D701;
  }

  &.bad{
    background-color: #ff5f2e;
    border: .5em solid #ff5f2e;
  }

  &.pending{
    background-color: #fcbe32;
    border: .5em solid #fcbe32;
  }
}
.orange-circle-button:hover {
  color:#ffffff;
  background-color: #e84d0e;
  text-decoration: none;
  border-color: #ff7536;

}
.orange-circle-button:visited {
  color:#ffffff;
  background-color: #e84d0e;
  text-decoration: none;

}
.orange-circle-link-greater-than {
  font-size: 1em;
}